.grid-stack-item-content {
    background: white;
    color: #2c3e50;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 20px;
}

.grid-stack-item-content .fa {
    font-size: 64px;
    display: block;
    margin: 20px 0 10px;
}

header a, header a:hover { color: #fff; }

.darklue { background: #2c3e50; color: #fff; }
.darklue hr.star-light::after {
    background-color: #2c3e50;
}

.grid-stack-item[data-gs-height="2"] {
    height: 140px;
}

.grid-stack-item[data-gs-height="4"] {
    height: 300px;
}

.grid-stack-item[data-gs-y="0"] {
    top: 0px;
}

.grid-stack-item[data-gs-y="2"] {
    top: 160px;
}

.grid-stack-item[data-gs-y="4"] {
    top: 320px;
}

body {
    background-color: #2C3E50;
}